<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base:: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-width-bold">Smart Contact Managers</h1>
			<p>Start Collecting your contact in a smart way. We provide very
				efficient and smart way of handling contacts.</p>
			<button class="btn btn-primary btn-md ">Get Started</button>
		</div>

	</section>

</body>
</html>